@import "tailwindcss";

:root {
  --greenColor: #00cc00;
  --brownColor: #996633;
  --beige: #F5F5DC;
}

@theme inline {
  --color-green: var(--greenColor);
  --color-brown: var(--brownColor);
  --color-beige: var(--beige);
  --font-lato: var(--font-lato);
  --font-play: var(--font-play);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
